.lnk-forgot-pass {
    flex: 1;
    text-align: right;
    margin-bottom: 20px;
}

.lnk-forgot-pass > span {
    color: #999;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: underline;
}

.lnk-forgot-pass > span:hover {
    color: #797dbb;
}
