.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.5);
}

.modal-fp {
    width: auto;
    background: white;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
    border-radius: 3px;
}

.modal-fp-header {
    padding: 20px;
    font-weight: 700;
    font-size: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.modal-fp-body {
    padding: 20px 20px 0 20px;
}

.modal-fp-close {
    float: right;
    cursor: pointer;
}

.modal-fp-text {
    width: 400px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 0.9rem;
}

.modal-fp-btn {
    background: #0d47a1;
    color: #e3f2fd;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px;
    width: 300px;
    margin: 0 auto 20px auto;
    cursor: pointer;
    transition: all 0.24s ease-out;
    text-align: center;
}

.modal-fp-btn:hover {
    background: #0d58e8;
    color: #FFF;
}

.modal-fp-btn:active {
    background: #f69818;
    transition: none;
}

.modal-fp-npt {
    border: 2px solid #DDD;
    padding: 5px;
    margin: 0 0 20px 0;
    width: 400px;
    border-radius: 3px;
}