.groups-tools {
    padding-bottom: 20px;
}

.add-group___btn {
    background: rgb(251, 244, 255);
    color: #646566;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #dee2e6;
    padding: 10px;
    transition: 0.24s;
    font-size: 0.8rem;
}

.add-group___btn:hover {
    border: 1px solid #b6babe;
}